<div>
  <div id="intro" class="container p-5 mb-5">
    <div class="row">
      <div class="col-sm-12 col-md-6 text-center">
        <img
          loading="lazy"
          width="300"
          height="389"
          src="/images/poser-illustrations/Files/PNG with transparency/Illustration 16.png"
          class=""
          alt="A vector illustration of a person standing straight and holding what might be a sheet of paper with a large rectangle, perhaps a placeholder image, with two smaller rectangle lines below, as if a placeholder text."
        />
      </div>
      <div class="col-sm-12 col-md-6">
        <h1 class="text-start">View results of an ongoing poll</h1>
        <p class="lead mb-4">
          Missing the "view results" option for polls on your platform?
        </p>
        <p class="mt-5 mt-md-2 text-start">
          <form id="get-poll-results-form" action="/poll">
            <label class="form-label" for="post-url-input">Link to the poll</label>
            <div class="input-group mb-3">
              <input
                autofocus
                required
                id="post-url-input"
                name="url"
                type="url"
                class="form-control"
                placeholder="https://mastodon.social/@person/123456789"
                aria-label="URL of a fediverse post"
                aria-describedby="view-results-btn"
              />
              <button
                class="btn btn-outline-secondary"
                type="submit"
                id="view-results-btn"
              >View results</button>
            </div>
            <div class="form-text">This is a proof of concept, currently only Mastodon is supported.</div>
          </form>
        </p>
        <p
          id="loading-animation"
          class="d-none mt-4 card-text placeholder-wave"
        >
          <span class="placeholder placeholder-lg col-12 rounded"></span>
        </p>
      </div>
    </div>
  </div>
  <div id="results" class="container p-5 mb-5 d-none">
    <div class="row">
      <div
        id="user-info"
        class="col-sm-12 col-lg-6 text-center bg-light rounded"
      >
        <div class="d-flex sticky-top pt-4 pb-4">
          <div id="user-avatar" class="flex-shrink-0">
          </div>
          <div id="user-description" class="flex-grow-1 ms-3 text-start">
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div id="user-data-breakdown" class="p-4">
        </div>
        <canvas id="chart"></canvas>
      </div>
      <div class="col-sm-12 text-center">
        <a class="btn btn-primary mt-5" href="/">Start over</a>
      </div>
    </div>
  </div>
</div>